<header>
    <h1>{{title}}</h1>
    <div>
        <a href="/"  rel="noopener noreferrer">Weather</a>
        <a href="/about"  rel="noopener noreferrer">About</a>
        <a href="/help"  rel="noopener noreferrer">Help</a>
    </div>
</header>